version: "3.9"

services:
  mongo:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  frontend:
    build: ./frontend
    ports:
     - "3000:3000"
    environment:
     NEXT_PUBLIC_BACKEND_URL: http://backend:8000
     NEXT_PUBLIC_PY_SERVICE_URL: http://python_ai:5000
    depends_on:
      - backend
      - python-ai
  
  backend:
    build: ./backend
    ports:
     - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
     PY_SERVICE_URL: http://python-ai:5000
    depends_on:
      - python-ai
      - mongo

  python-ai:
    build: ./python-ai
    ports:
     - "5001:5000"

volumes:
  mongo_data: